version: "3.8"

services:
    nginx:
        image: nginx:alpine
        container_name: nginx
        restart: unless-stopped
        ports:
            - "80:80"
            - "443:443"
        env_file:
            - .env
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf:ro
            - /var/www/letsencrypt:/var/www/letsencrypt:ro
        networks:
            - internal_network
        mem_limit: 128m

networks:
    internal_network:
        external: true
        name: ${NETWORK}
